@use 'variables' as v;

html {
    font-size: 62.5%;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

body {
    background-color: v.$body;
    color: v.$primary;
    font-family: v.$mainFont;
    font-size: 1.6rem;
}

[class$="container"] {
    max-width: 130rem;
    width: 95%;
    margin: 0 auto;

    @media(min-width: 1600px) {
        max-width: 140rem;
    }
}

[class*="section"] {
    padding: 5rem 0;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

button {
    all: unset;
    cursor: pointer; 
}