@use 'variables' as v;
@use 'mixins' as m;

h1 {
    font-size: 3rem;
    font-weight: 700;
    span {
        color: v.$secondary;;
    }
    @include m.tablet-1 { 
        font-size: 6rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    span {
        color: v.$secondary;
    }
}

p {
    font-weight: 400;
    span {
        font-weight: 700;
    }
}

a {
    text-decoration: none;
    color: v.$primary;
}