@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Krona+One&display=swap');

// Font
$mainFont: "Inter", sans-serif;

// Break points
$mobile-1: 400px;
$mobile-2: 480px;
$mobile-3: 665px;
$tablet-1: 768px;
$tablet-2: 992px;
$desktop-1: 1024px;
$desktop-2: 1280px;
$desktop-3: 1440px;
$desktop-4: 1600px;
$tv: 2500px;

// Colors
$body: #121212;
$primary: #FFF; 
$secondary: #BC1000;