@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.about-me {
    @include m.grid(1, 5rem);
    align-items: center;
    @include m.tablet_1 { 
        @include m.grid(2, 5rem);
    }


    &__title {
        margin-bottom: 2rem;
    }

    &__texts {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5rem;
    }
}