@use '../../scss/base/variables' as v;
@use '../../scss/base/mixins' as m;

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    &__bruno {
        @include m.tablet-2 { 
            margin-right: 1.5rem;
        }
        @include m.tv { 
            margin-right: 2.5rem;
        }
    }

    &__flex {
        z-index: 1;
        padding: 5rem 1.5rem;
        height: 50dvh;
        width: 85%;
        background-color: #0a0a0a;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include m.tablet-2 { 
            position: relative;
            right: 0;
            top: 0;
            padding: 0;
            height: auto;
            width: 100%;
            background-color: transparent;
            flex-direction: row;
            align-items: center;
        }
    }

    &__menu-close {
        position: absolute;
        right: 5%;
        top: 2.5%;
        z-index: 10;
    }

    &__sections {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @include m.tablet-2 { 
            flex-direction: row;
            gap: 1.2rem;
        }
        @include m.tv { 
            gap: 2rem;
            font-size: 2.5rem;
        }
        a {
            transition: .3s;

            &:hover {
                color: v.$secondary;
            }
        }

        
    }

    &__networks {
        display: flex;
        gap: 1.5rem;
        font-size: 1.6rem;
       
        @include m.tv { 
            gap: 2.5rem;
            font-size: 2rem;
        }
        a { 
            padding: .5rem;
            display: flex;
            align-items: center;
            gap: 1rem;
            border-radius: .5rem;
            transition: .3s;
            @include m.tablet-2 { 
                gap: 1.5rem;
            }
            
            img {
                width: 1.5rem;
                height: 2rem;
                @include m.mobile-1 { 
                    width: 2.5rem;
                    height: 2.5rem;
                }
                @include m.tv { 
                    width: 3rem;
                    height: 3rem;
                }
            }
        }
        a:hover {
            background-color: v.$secondary;
            filter: blur(1px);
        }
    }
}